* {
    margin: 0;
    padding: 0;
}

.logo {
    height: 60px;
    padding: 2px 15px;
}


.navbar-nav {
    width: 40%;
    font-size: 16px;
}

body {
    background-image: url("https://res.cloudinary.com/xrole/image/upload/v1571411982/BlueFlameIndoors/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
}


