* {
    margin: 0;
    padding: 0;
}

.logo {
    height: 60px;
    padding: 2px 15px;
}

.navbar-nav {
    width: 40%;
    font-size: 16px;
}

.navbar-nav li a {
    font-weight: bold;
}

.navbar-background {
    background-color: rgb(0, 0, 60);
    color: white !important;
}

.navbar-background ul li a {
    color: white !important;
}

h1 {
    color: rgb(0, 0, 60);
    margin: 30px;
    font-size: 60px;
    font-family: 'Ultra', serif;
    font-weight: bolder;
    text-shadow: 3px 3px 10px black;
}

.team-card {
    margin: 40px auto;
    text-align: center;
    max-width: 400px;
    max-height: 500px;
}

.team-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,60,0.5);
    overflow: hidden;
    max-width: 100%;
    height: 0;
    transition: .5s ease;
}

.team-card:hover .team-info {
    max-width: 400px;
    max-height: 500px;
    height: 100%;
}

.text {
    margin-top: 20px;
    color: white;
    font-family: 'Coiny', cursive;
    font-size: 20px;
    text-align: center; 
    text-shadow: 3px 3px 8px black;
    line-height: 40px;
}

.style-p {
    font-size: 25px;
    font-weight: bold;
}

.social a {
    font-size: 4.5rem;
    padding: 3rem;
}

h2.connect {
    font-family: 'Coiny', cursive;
    font-size: 50px;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-youtube {
    color: #bb0000;
}

.fa-instagram {
    color: #517fa4;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-youtube:hover,
.fa-instagram:hover,
.fa-google-plus-g:hover {
    color: #d5d5d5;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-weight: bold;
}

hr.light {
    border-top: 1px solid #646262;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

footer a {
    color: #d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #646262;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.footer {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-weight: bold;
}
